body {
    background: url("/back.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: SF Pro, Arial, sans-serif;
}

@font-face {
    font-family: SF Pro;
    src: url("https://benjike.hu/css/fonts/SF-Pro.ttf") format("ttf");
}

a {
    color: gray;
}

.changeLog {
    color: #404040;
    font-size: 14px;
}